body{
    margin: 0;
    font-family: 'Epilogue', sans-serif;
}
/* NAV CSS */
.nav {
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: #202020;
    position: relative;
  }
  
  .nav > .nav-header {
    display: flex;
    margin-right: auto;
    margin-left: 0.2rem;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    color: #332A86;
    padding: 10px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: flex;
    align-items: center;
    float: right;
    font-size: 14px;
    margin-right: 2.5rem;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #61CE7000;
  }
  
  .nav > .nav-links > a:hover {
    background-color: #ECEAFF;
    border-radius: 10px;
  }
  
  .nav > #nav-check {
    display: none;
  }
  .lg-hidden {
    display: none;
}
  
  @media (max-width:600px) {
    .nav {
        display: flex;
        align-items: center;
        height: 80px;
        width: 100%;
        background-color: #202020;
        position: fixed;
        top: 0;
    }
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 75px;
        padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      background-color: rgb(255, 255, 255);
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 80px;
      right: 0;
      margin-right: 0;
      width: 70%;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
    .nav-title>a>img {
        width: 90px;
    }
    .hfe-search-icon-toggle, .elementor-widget-container{
        display: none!important;
    }
    .lg-hidden {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 20px auto;
        padding: 20px;
    }
    .lg-hidden a {
        text-decoration: none;
        padding: 20px;
        font-size: 18px;
        color: #000;
    }
  }
  
  /* Search icon */
  .hfe-search-icon-toggle {
    display: flex;
    height: 70px;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
    border-right: 2px solid #fff;
  }
  i.fas.fa-search {
    margin-left: 20px;
  }
  .fa-search:before {
    content: "\f002";
    font-size: 24px;
    color: #fff;
  }
  .fa-bars:before {
    content: "\f0c9";
    color: darkgray;
    font-size: 24px;
    padding-left: 25px;
  }
  
  /* Footer Css */
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #202020;
    color: white;
    text-align: center;
    padding: 80px 0;
  }
  .logo-a img {
    padding: 20px 0;
  }
  .icon-a i:before {
    color: #000;
    background: #fff;
    padding: 10px;
    margin-right: 5px;
  }
  .text-wrapper {
    margin: 40px auto;
    padding: 35px 0;
    border-bottom: 1px solid rgb(255 255 255 / 37%);
  }
  .text-a {
    text-decoration: none;
    color: #fff;
    padding: 1rem 3rem;
    font-weight: 300;
    font-size: 13px;
    letter-spacing: 1.2px;
    border-right: 1px solid #fff;
  }
  .text-a:last-child{
    border-right: none;
  }
  .text-b {
    text-decoration: none;
    color: rgb(255 255 255 / 17%);
    font-size: 13px;
    font-weight: 100;
    padding: 1rem 3rem;
    letter-spacing: 1.5px;
  }
  .ses-wrapper {
    margin: 2rem auto;
  }
  .ses-wrapper a{
    text-decoration: none;
    color: rgb(255 255 255 / 17%);
    font-size: 13px;
    font-weight: 300;
    padding: 1rem 3rem;
    
  }
  .p-footer{
    color: rgb(255 255 255 / 17%);
    font-size: 13px;
    font-weight: 300;
    padding: 1rem 3rem;
  }
.main-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: auto;
    margin: 5rem;
}
.left-col {
    height: 75vh;
    width: 50vw;
<<<<<<< HEAD
    background-image: url(images/daudad.jpg);
=======
>>>>>>> e43af0b87384c56c783341042e137c00b7dfa2e2
    background-size: cover;
}
.right-col {
    background: #F2A922;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#dad-day {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.dad-img {
    margin: 2rem 7rem;
}
input[type=text] {
    padding: 15px 50px 15px 0;
    background: transparent;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #A66D03;
    margin-bottom: 20px;
    font-family: 'Epilogue', sans-serif;
    width: 250px;
}
input::placeholder{
    color: #A66D03;
    font-family: 'Montserrat', sans-serif;
}
input::-webkit-input-placeholder{
    color: #A66D03;
}
input:focus-visible{
    outline: none;
}
input[type="submit"] {
    padding: 15px 40px;
    border: none;
    background: #dc9105;
    color: #000;
    font-size: 14px;
    font-weight: 600;
    border-radius: 5px;
    margin: 20px auto;
    font-family: 'Epilogue', sans-serif;
}
input[type="submit"]:hover{
    background: #fff;
    color:#A66D03;
    text-decoration: underline;
}
@media (max-width:600px){
    .main-wrapper {
        display: flex;
        flex-direction: column;
        margin: 6rem 1rem 1rem;
    }
    .right-col {
        background: #F2A922;
        height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90vw;
        margin: 0 20px;
    }
    .left-col {
        height: 30.2vh;
        width:90vw;
        background-size: cover;
    }
    .text-wrapper, .text-wrapper_b{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .text-wrapper {
        margin: 0 auto 40px;
        padding: 35px 0;
        border-bottom: 1px solid rgb(255 255 255 / 37%);
    }
    .text-a{
        border-right: none; 
    }
    .footer{
        padding:30px 0;
    }
}