@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

body{
  margin: 0;
  font-family: 'Epilogue', sans-serif;
  background: #fff;
}
section{
    background: #fff;
    height: 100%;
    width: auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
}
#capture {
  background: #fff;
  padding: 20px;
}
#card_wrapper {
    display: flex;
    justify-content: flex-end;
    /* box-shadow: 0 0px 260px rgb(0 0 0 / 10%); */
    background: url(images/E-CARD-final.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 437px;
    max-height: 437px;
    width: 43.959vw;
    max-width: 43.959vw;
    border: 16px solid #c0a137;
}
#btn {
  -webkit-appearance: none;
  opacity: 1;
  font-family: 'Epilogue', sans-serif;
  padding: 20px;
  background: #987914;
  color: #fff;
  border: 1px solid #987914;
  border-radius: 5px;
  font-size: 14px;
}
#btn:hover{
  background: #c79f1c;
  border: 1px solid #c79f1c;
  border-radius: 5px;
}  
.inner-wrapper {
    margin-right: 0;
}
h4.mum-name {
  font-family: 'Yellowtail', cursive;
  font-size: 36px;
  color: #e50e36!important;
  margin: 0 auto 0!important;
  width: 344px;
  max-width: 344px;
  font-weight: 500!important;
  border-bottom: 1px solid #000;
  padding: 0 5px 0;
}
.right-col_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 3rem;
}
.to_wrapper , .from_wrapper , .message_wrapper {
  margin: 20px auto;
}
.to_wrapper h4, .from_wrapper h4, .message_wrapper h4 {
    color: #e50e36;
    margin: 30px auto 0;
    font-weight: 800;
}
.to_wrapper p {
    margin: 15px auto 0;
}
.code-h3 {
    margin-top: 30px;
    position: relative;
    color: lightgray;
}
.code-span {
    background: #e5e5e5;
    color: #8c8c8c;
    margin-left: 10px;
    padding: 8px 12px;
    width: 100px;
    height: 20px;
}
.pos-rel {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.code-wrapper {
    display: flex;
    align-items: baseline;
    height: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* NAV CSS */
.nav {
  display: flex;
  align-items: center;
  height: 100px;
  width: 100%;
  background-color: #202020;
  position: relative;
}

.nav > .nav-header {
  display: flex;
  margin-right: auto;
  margin-left: 0.2rem;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  color: #332A86;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: flex;
  align-items: center;
  float: right;
  font-size: 14px;
  margin-right: 2.5rem;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #61CE7000;
}

.nav > .nav-links > a:hover {
  background-color: #ECEAFF;
  border-radius: 10px;
}

.nav > #nav-check {
  display: none;
}
.lg-hidden {
  display: none;
}

@media (max-width:600px) {
  .nav {
      display: flex;
      align-items: center;
      height: 80px;
      width: 100%;
      background-color: #202020;
      position: fixed;
      top: 0;
  }
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 75px;
      padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    background-color: rgb(255, 255, 255);
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 80px;
    right: 0;
    margin-right: 0;
    width: 70%;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
  .nav-title>a>img {
      width: 90px;
  }
  .hfe-search-icon-toggle, .elementor-widget-container{
      display: none!important;
  }
  .lg-hidden {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin: 20px auto;
      padding: 20px;
  }
  .lg-hidden a {
      text-decoration: none;
      padding: 20px;
      font-size: 18px;
      color: #000;
  }
  .text-wrapper, .text-wrapper_b{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .text-wrapper {
    margin: 0 auto 40px;
    padding: 35px 0;
    border-bottom: 1px solid rgb(255 255 255 / 37%);
  }
  .text-a{
    border-right: none; 
  }
  .footer{
    padding:30px 0;
  }
}

/* Search icon */
.hfe-search-icon-toggle {
  display: flex;
  height: 70px;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
  border-right: 2px solid #fff;
}
i.fas.fa-search {
  margin-left: 20px;
}
.fa-search:before {
  content: "\f002";
  font-size: 24px;
  color: #fff;
}
.fa-bars:before {
  content: "\f0c9";
  color: darkgray;
  font-size: 24px;
  padding-left: 25px;
}

/* Footer Css */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #202020;
  color: white;
  text-align: center;
  padding: 80px 0;
}
.logo-a img {
  padding: 20px 0;
}
.icon-a i:before {
  color: #000;
  background: #fff;
  padding: 10px;
  margin-right: 5px;
}
.text-wrapper {
  margin: 40px auto;
  padding: 35px 0;
  border-bottom: 1px solid rgb(255 255 255 / 37%);
}
.text-a {
  text-decoration: none;
  color: #fff;
  padding: 1rem 3rem;
  font-weight: 300;
  font-size: 13px;
  letter-spacing: 1.2px;
  border-right: 1px solid #fff;
}
.text-a:last-child{
  border-right: none;
}
.text-b {
  text-decoration: none;
  color: rgb(255 255 255 / 17%);
  font-size: 13px;
  font-weight: 100;
  padding: 1rem 3rem;
  letter-spacing: 1.5px;
}
.ses-wrapper {
  margin: 2rem auto;
}
.ses-wrapper a{
  text-decoration: none;
  color: rgb(255 255 255 / 17%);
  font-size: 13px;
  font-weight: 300;
  padding: 1rem 3rem;
  
}
.p-footer{
  color: rgb(255 255 255 / 17%);
  font-size: 13px;
  font-weight: 300;
  padding: 1rem 3rem;
}

/* Certificate Specific Css */
@media (max-width:600px) {
  section {
    padding-top: 100px;
    padding-bottom: 40px;
}
#capture {
  background: #fff;
  padding: 20px;
  width: 95vw;
}
#card_wrapper {
  display: flex;
  justify-content: flex-end;
  background: url(images/E-CARD-final.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 220px;
  max-height: 225px;
  width: 96%;
  margin: 0 auto;
  max-width: 100%;
  border: 6px solid #c0a137;
}
.right-col_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 1rem;
  font-size: 10px;
}
.inner-wrapper {
  margin-right: 0;
  width: 90%;
}
.code-wrapper {
  display: flex;
  align-items: baseline;
  height: 20px;
  margin-top: 5px;
  margin-bottom: 40px;
}
.code-h3 {
  margin-top: 40px;
  color: lightgray;
}
.message_wrapper>p{
  margin-top: 20px!important;
}
h4.mum-name {
  font-size: 24px;
  margin: 0 auto 0!important;
  width: 200px;
  max-width: 200px;
  padding: 0 5px 7px;
}
}